<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD2t0BmJOyDQ0bESNsom-1by6ehYBPVUvI</string>
	<key>GCM_SENDER_ID</key>
	<string>78757025504</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.propsyncSystem</string>
	<key>PROJECT_ID</key>
	<string>propsync-system</string>
	<key>STORAGE_BUCKET</key>
	<string>propsync-system.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:78757025504:ios:5e2f9270908f1ed5fe2285</string>
</dict>
</plist>