<ion-app *ngIf="user">
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>ID de l'utilisateur : {{ user ? user.uid : 'Hors ligne' }}</ion-list-header>
          <ion-note>{{ user ? user.email : 'Connectez-vous' }}</ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        
        <ion-button expand="block" color="danger" (click)="logOut()">
          <ion-icon name="log-out"></ion-icon>
          Logout
        </ion-button>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
<ion-app *ngIf="!user">
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>
